**/.aws-sam/**
tutorial/**/bin
tutorial/**/lib
tutorial/**/include
**/venv/**
**/.venv/**
**/key.py
**/.vscode/**
**/.DS_Store
**/.DS_Store/**
**/**.drawio
**/**.png
**/**.pem
**/test_text/**
**/text/**
