[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "==2.33.1"
black = "==26.3.1"
isort = "==8.0.1"
flake8 = "==7.3.0"
mypy = "==2.0.0"
pyyaml = "*"
boto3 = "*"
holidays = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.0"
