[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "==2.32.5"
black = "==26.1.0"
isort = "==8.0.0"
flake8 = "==7.3.0"
mypy = "==1.19.1"
pyyaml = "*"
boto3 = "*"
holidays = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.0"
