[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
black = "==26.1.0"
isort = "==8.0.0"
flake8 = "==7.3.0"
mypy = "==1.19.1"
boto3 = "*"
holidays = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.13"
